html {
  position: relative;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.jumbotron {
  background: url(img/jakartaback.png) no-repeat center center;
  background-size: cover;
  height: 610px;
}

.header {
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 1000000;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #fff;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-right: 25px;
  text-transform: uppercase;
  cursor: pointer;
  cursor: hand;
}

.main { 
  position: relative; 
  top: 180px; 
  right: 35px; 
  text-align: center; 
} 

.main h2 {
  color: #0b336b;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.08em;
  position: absolute;
  left: 100px;
  right: 40px;
  bottom: 20px;
  padding-top: 0px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.opac {
  opacity: 0.5;
}

.btn-main {
  position: relative;
  top: 250px;
  left: 470px;
  border: 2px solid black;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 1000;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default{
  border: 1px solid #333;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;  
  display: inline-block;
  bottom: 0px;
  left: 100px;      
}

.supporting {
  padding-top: 170px;
  padding-bottom: 100px;
}

.supporting .col {
  float: left;
  position: relative;
  height: 300px;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting img {
  height: 80px;
}

.supporting h3 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.clearfix {
  clear: both;
}

.abbot {
  padding-top: 100px;
  padding-bottom: 90px;
  margin-bottom: 0px;
  background: url(img/abbot.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
}

#abbotme {
  
}

.abbot .col {
  color: #fff;
  position: relative;
  height: 350px;
  width: 350px;
  margin-top: -250px;
}

.abbot img{
  border-style: dashed;
  width: 350px;
}

.abbottext {
  margin-left: 500px;
  margin-top: 100px;
  padding: 0px 30px 0px 30px;
  color: #fff;
  font-weight: 600;
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  background-color: black;
  opacity: 0.7;
}

.abbot p {
  font-style: italic;
}


#target {

}

#linkedin {
  
}

.conn {
  padding-top: 180px;
  padding-bottom: 400px;
  margin-bottom: 50px;
  background-color: #000;
}

.conn .col {
  color: #fff;
  float: left;
  position: relative;
  height: 400px;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.conn img{
  width: 150px;
  margin-top: 20px;
}

.conn h3 {
  font-weight: 600;
  font-size: 23px;
}

.footer {
  background-color: #333;
  color: #fff;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
}

#week1 {
  background: url(img/week1.jpg) no-repeat center center;
  background-size: cover;
  height: 610px;
}

.weektitle {
  background-color: grey; 
  width: 70%;
  position: relative; 
  top: 20px;
  left: 200px; 
  text-align: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  opacity: 1; 
} 

.paragraph {
  margin-top: 150px;
  padding: 0px 30px 0px 30px;
  color: #fff;
  font-weight: 600;
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  background-color: black;
  opacity: 1;
}