html {
  position: relative;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  height: auto;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.jumbotron {
  background: url(img/jakarta.jpg) no-repeat center center;
  background-size: cover;
  height: 800px;
}

.header {
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 1000000;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #fff;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-right: 25px;
  text-transform: uppercase;
  cursor: pointer;
  cursor: hand;
}

.main {
  position: relative;
  top: 105px;
  right: 35px;
  text-align: center;
}

.main h1 {
  color: #0b336b;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 100px;
  letter-spacing: 0.08em;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.main h2 {
  color: #0b336b;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.08em;
  position: absolute;
  left: 100px;
  right: 40px;
  bottom: 20px;
  padding-top: 0px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.btn-main {
  position: relative;
  top: 90px;
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default{
  border: 1px solid #333;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;  
  display: inline-block;
  bottom: 0px;
  left: 100px;      
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col {
  float: left;
  position: relative;
  height: 300px;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting img {
  height: 80px;
}

.supporting h3 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
}